openapi: 3.0.1
info:
  title: core-common-distributor-mgmt
  description: Distributor Management Core Application
  contact:
    name: Firefly Software Foundation
    email: dev@getfirefly.io
  version: 1.0.0
servers:
  - url: http://core.getfirefly.io/distributors
    description: Development Environment
  - url: /
    description: Local Development Environment
tags:
  - name: Lending Configuration
    description: API for managing product lending configurations
  - name: Distributor Simulations
    description: API for managing distributor simulation tracking
  - name: Terms and Conditions Templates
    description: API for managing terms and conditions templates
  - name: Distributor Configurations
    description: API for managing configurations associated with distributors
  - name: Distributor Contract
    description: API for managing contracts associated with distributors
  - name: Product Category
    description: API for managing product categories
  - name: Distributor Authorized Territories
    description: API for managing geographic territories where distributors are authorized to operate
  - name: Agent Roles
    description: API for managing agent roles - roles that distributor agents can have
  - name: Distributor Agent Agency
    description: API for managing agent-agency relationships within a distributor
  - name: Shipment
    description: API for managing shipments
  - name: Configuration Scopes
    description: API for managing configuration scopes
  - name: Simulations
    description: API for global simulation access and management
  - name: Distributor Agencies
    description: API for managing physical agencies associated with distributors
  - name: Distributor Terms and Conditions
    description: API for managing distributor terms and conditions
  - name: Lending Type
    description: API for managing lending types
  - name: Product
    description: API for managing distributor products
  - name: Distributor
    description: API for managing distributors
  - name: Distributor Product Catalog
    description: API for managing product catalog associated with distributors
  - name: Lending Contract
    description: API for managing lending contracts
  - name: Distributor Branding
    description: API for managing distributor branding
  - name: Distributor Lending Configuration
    description: API for managing distributor-level lending configurations
  - name: Distributor Operations
    description: API for managing distributor operational coverage
  - name: Distributor Audit Log
    description: API for managing distributor audit logs
  - name: Distributor Agents
    description: API for managing agents associated with distributors
  - name: Agency Payment Methods
    description: API for managing payment methods for agency disbursements
  - name: Configuration Data Types
    description: API for managing configuration data types
paths:
  /api/v1/terms-and-conditions-templates/{templateId}:
    get:
      tags:
        - Terms and Conditions Templates
      summary: Get template by ID
      description: Returns a template based on its ID
      operationId: getTemplateById
      parameters:
        - name: templateId
          in: path
          description: ID of the template
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermsAndConditionsTemplateDTO'
        '404':
          description: Template not found
        '500':
          description: Internal server error
    put:
      tags:
        - Terms and Conditions Templates
      summary: Update template
      description: Updates an existing template
      operationId: updateTemplate
      parameters:
        - name: templateId
          in: path
          description: ID of the template to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TermsAndConditionsTemplateDTO'
        required: true
      responses:
        '200':
          description: Template successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermsAndConditionsTemplateDTO'
        '400':
          description: Invalid template data provided
        '404':
          description: Template not found
        '409':
          description: Template name already exists
        '500':
          description: Internal server error
    delete:
      tags:
        - Terms and Conditions Templates
      summary: Delete template
      description: Deletes a template
      operationId: deleteTemplate
      parameters:
        - name: templateId
          in: path
          description: ID of the template to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Template successfully deleted
        '404':
          description: Template not found
        '500':
          description: Internal server error
  /api/v1/shipments/{id}/status:
    put:
      tags:
        - Shipment
      summary: Update shipment status
      description: Updates the status of an existing shipment
      operationId: updateShipmentStatus
      parameters:
        - name: id
          in: path
          description: ID of the shipment to update
          required: true
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          description: New status value
          required: true
          schema:
            type: string
        - name: updatedBy
          in: query
          description: ID of the user updating the status
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Shipment status successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentDTO'
        '400':
          description: Invalid status value
        '404':
          description: Shipment not found
        '500':
          description: Internal server error
  /api/v1/shipments/{id}:
    get:
      tags:
        - Shipment
      summary: Get shipment by ID
      description: Returns a shipment based on its ID
      operationId: getShipmentById
      parameters:
        - name: id
          in: path
          description: ID of the shipment to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved shipment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentDTO'
        '404':
          description: Shipment not found
        '500':
          description: Internal server error
    put:
      tags:
        - Shipment
      summary: Update an existing shipment
      description: Updates an existing shipment with the provided information
      operationId: updateShipment
      parameters:
        - name: id
          in: path
          description: ID of the shipment to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentDTO'
        required: true
      responses:
        '200':
          description: Shipment successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentDTO'
        '400':
          description: Invalid shipment data provided
        '404':
          description: Shipment not found
        '500':
          description: Internal server error
    delete:
      tags:
        - Shipment
      summary: Delete a shipment
      description: Deletes a shipment based on its ID
      operationId: deleteShipment
      parameters:
        - name: id
          in: path
          description: ID of the shipment to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Shipment successfully deleted
        '404':
          description: Shipment not found
        '500':
          description: Internal server error
  /api/v1/product-categories/{id}:
    get:
      tags:
        - Product Category
      summary: Get product category by ID
      description: Returns a product category based on its ID
      operationId: getProductCategoryById
      parameters:
        - name: id
          in: path
          description: ID of the product category to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved product category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategoryDTO'
        '404':
          description: Product category not found
        '500':
          description: Internal server error
    put:
      tags:
        - Product Category
      summary: Update product category
      description: Updates an existing product category with the provided information
      operationId: updateProductCategory
      parameters:
        - name: id
          in: path
          description: ID of the product category to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCategoryDTO'
        required: true
      responses:
        '200':
          description: Product category successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategoryDTO'
        '400':
          description: Invalid product category data provided
        '404':
          description: Product category not found
        '500':
          description: Internal server error
    delete:
      tags:
        - Product Category
      summary: Delete product category
      description: Deletes a product category based on its ID
      operationId: deleteProductCategory
      parameters:
        - name: id
          in: path
          description: ID of the product category to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Product category successfully deleted
        '404':
          description: Product category not found
        '500':
          description: Internal server error
  /api/v1/lending-types/{id}:
    get:
      tags:
        - Lending Type
      summary: Get lending type by ID
      description: Returns a lending type based on its ID
      operationId: getLendingTypeById
      parameters:
        - name: id
          in: path
          description: ID of the lending type to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved lending type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LendingTypeDTO'
        '404':
          description: Lending type not found
        '500':
          description: Internal server error
    put:
      tags:
        - Lending Type
      summary: Update lending type
      description: Updates an existing lending type with the provided information
      operationId: updateLendingType
      parameters:
        - name: id
          in: path
          description: ID of the lending type to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LendingTypeDTO'
        required: true
      responses:
        '200':
          description: Lending type successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LendingTypeDTO'
        '400':
          description: Invalid lending type data provided
        '404':
          description: Lending type not found
        '500':
          description: Internal server error
    delete:
      tags:
        - Lending Type
      summary: Delete lending type
      description: Deletes a lending type based on its ID
      operationId: deleteLendingType
      parameters:
        - name: id
          in: path
          description: ID of the lending type to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Lending type successfully deleted
        '404':
          description: Lending type not found
        '500':
          description: Internal server error
  /api/v1/lending-contracts/{id}:
    get:
      tags:
        - Lending Contract
      summary: Get lending contract by ID
      description: Returns a lending contract based on its ID
      operationId: getLendingContractById
      parameters:
        - name: id
          in: path
          description: ID of the lending contract to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved lending contract
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LendingContractDTO'
        '404':
          description: Leasing contract not found
        '500':
          description: Internal server error
    put:
      tags:
        - Lending Contract
      summary: Update an existing lending contract
      description: Updates an existing lending contract with the provided information
      operationId: updateLendingContract
      parameters:
        - name: id
          in: path
          description: ID of the lending contract to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LendingContractDTO'
        required: true
      responses:
        '200':
          description: Leasing contract successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LendingContractDTO'
        '400':
          description: Invalid lending contract data provided
        '404':
          description: Leasing contract not found
        '500':
          description: Internal server error
    delete:
      tags:
        - Lending Contract
      summary: Delete a lending contract
      description: Deletes a lending contract based on its ID
      operationId: deleteLendingContract
      parameters:
        - name: id
          in: path
          description: ID of the lending contract to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Leasing contract successfully deleted
        '404':
          description: Leasing contract not found
        '500':
          description: Internal server error
  /api/v1/distributors/{distributorId}/terms-and-conditions/{termsId}:
    get:
      tags:
        - Distributor Terms and Conditions
      summary: Get distributor terms and conditions by ID
      description: Returns distributor terms and conditions based on its ID
      operationId: getDistributorTermsAndConditionsById
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: termsId
          in: path
          description: ID of the terms and conditions
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved terms and conditions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributorTermsAndConditionsDTO'
        '404':
          description: Terms and conditions not found
        '500':
          description: Internal server error
    put:
      tags:
        - Distributor Terms and Conditions
      summary: Update distributor terms and conditions
      description: Updates existing distributor terms and conditions
      operationId: updateDistributorTermsAndConditions
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: termsId
          in: path
          description: ID of the terms and conditions to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributorTermsAndConditionsDTO'
        required: true
      responses:
        '200':
          description: Terms and conditions successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributorTermsAndConditionsDTO'
        '400':
          description: Invalid terms and conditions data provided
        '404':
          description: Terms and conditions not found
        '500':
          description: Internal server error
    delete:
      tags:
        - Distributor Terms and Conditions
      summary: Delete distributor terms and conditions
      description: Deletes distributor terms and conditions
      operationId: deleteDistributorTermsAndConditions
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: termsId
          in: path
          description: ID of the terms and conditions to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Terms and conditions successfully deleted
        '404':
          description: Terms and conditions not found
        '500':
          description: Internal server error
  /api/v1/distributors/{distributorId}/simulations/{simulationId}:
    get:
      tags:
        - Distributor Simulations
      summary: Get distributor simulation by ID
      description: Returns a distributor simulation based on its ID
      operationId: getDistributorSimulationById
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: simulationId
          in: path
          description: ID of the distributor simulation
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved distributor simulation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributorSimulationDTO'
        '404':
          description: Distributor simulation not found
        '500':
          description: Internal server error
    put:
      tags:
        - Distributor Simulations
      summary: Update distributor simulation
      description: Updates an existing distributor simulation
      operationId: updateDistributorSimulation
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: simulationId
          in: path
          description: ID of the distributor simulation to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributorSimulationDTO'
        required: true
      responses:
        '200':
          description: Distributor simulation successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributorSimulationDTO'
        '400':
          description: Invalid distributor simulation data provided
        '404':
          description: Distributor simulation not found
        '500':
          description: Internal server error
    delete:
      tags:
        - Distributor Simulations
      summary: Delete distributor simulation
      description: Deletes a distributor simulation
      operationId: deleteDistributorSimulation
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: simulationId
          in: path
          description: ID of the distributor simulation to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Distributor simulation successfully deleted
        '404':
          description: Distributor simulation not found
        '500':
          description: Internal server error
  /api/v1/distributors/{distributorId}/products/{productId}/lending-configurations/{configId}:
    get:
      tags:
        - Lending Configuration
      summary: Get lending configuration by ID
      description: Returns a lending configuration based on its ID
      operationId: getLendingConfigurationById
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: productId
          in: path
          description: ID of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: configId
          in: path
          description: ID of the lending configuration to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved lending configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LendingConfigurationDTO'
        '404':
          description: Lending configuration not found
        '500':
          description: Internal server error
    put:
      tags:
        - Lending Configuration
      summary: Update an existing lending configuration
      description: Updates an existing lending configuration for a specific product
      operationId: updateLendingConfiguration
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: productId
          in: path
          description: ID of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: configId
          in: path
          description: ID of the lending configuration to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LendingConfigurationDTO'
        required: true
      responses:
        '200':
          description: Lending configuration successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LendingConfigurationDTO'
        '400':
          description: Invalid lending configuration data provided
        '404':
          description: Lending configuration not found
        '500':
          description: Internal server error
    delete:
      tags:
        - Lending Configuration
      summary: Delete a lending configuration
      description: Deletes a lending configuration based on its ID
      operationId: deleteLendingConfiguration
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: productId
          in: path
          description: ID of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: configId
          in: path
          description: ID of the lending configuration to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Lending configuration successfully deleted
        '404':
          description: Lending configuration not found
        '500':
          description: Internal server error
  /api/v1/distributors/{distributorId}/products/{productId}:
    get:
      tags:
        - Product
      summary: Get product by ID
      description: Returns a product based on its ID
      operationId: getProductById
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: productId
          in: path
          description: ID of the product to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDTO'
        '404':
          description: Product not found
        '500':
          description: Internal server error
    put:
      tags:
        - Product
      summary: Update an existing product
      description: Updates an existing product for a specific distributor
      operationId: updateProduct
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: productId
          in: path
          description: ID of the product to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDTO'
        required: true
      responses:
        '200':
          description: Product successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDTO'
        '400':
          description: Invalid product data provided
        '404':
          description: Product not found
        '500':
          description: Internal server error
    delete:
      tags:
        - Product
      summary: Delete a product
      description: Deletes a product based on its ID
      operationId: deleteProduct
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: productId
          in: path
          description: ID of the product to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Product successfully deleted
        '404':
          description: Product not found
        '500':
          description: Internal server error
  /api/v1/distributors/{distributorId}/product-catalog/{catalogId}:
    get:
      tags:
        - Distributor Product Catalog
      summary: Get product catalog item by ID
      description: Retrieve a specific product catalog item associated with a distributor by its unique identifier
      operationId: getById
      parameters:
        - name: distributorId
          in: path
          description: Unique identifier of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: catalogId
          in: path
          description: Unique identifier of the product catalog item
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Product catalog item found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DistributorProductCatalogDTO'
        '404':
          description: Product catalog item or distributor not found
    put:
      tags:
        - Distributor Product Catalog
      summary: Update product catalog item
      description: Update an existing product catalog item associated with a distributor
      operationId: update
      parameters:
        - name: distributorId
          in: path
          description: Unique identifier of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: catalogId
          in: path
          description: Unique identifier of the product catalog item
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributorProductCatalogDTO'
        required: true
      responses:
        '200':
          description: Product catalog item successfully updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DistributorProductCatalogDTO'
        '400':
          description: Invalid product catalog data
        '404':
          description: Product catalog item or distributor not found
    delete:
      tags:
        - Distributor Product Catalog
      summary: Delete product catalog item
      description: Delete a product catalog item associated with a distributor from the system
      operationId: delete
      parameters:
        - name: distributorId
          in: path
          description: Unique identifier of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: catalogId
          in: path
          description: Unique identifier of the product catalog item
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Product catalog item successfully deleted
        '404':
          description: Product catalog item or distributor not found
  /api/v1/distributors/{distributorId}/operations/{operationId}:
    get:
      tags:
        - Distributor Operations
      summary: Get distributor operation by ID
      description: Returns a distributor operation based on its ID
      operationId: getDistributorOperationById
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: operationId
          in: path
          description: ID of the distributor operation
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved distributor operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributorOperationDTO'
        '404':
          description: Distributor operation not found
        '500':
          description: Internal server error
    put:
      tags:
        - Distributor Operations
      summary: Update distributor operation
      description: Updates an existing distributor operation
      operationId: updateDistributorOperation
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: operationId
          in: path
          description: ID of the distributor operation to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributorOperationDTO'
        required: true
      responses:
        '200':
          description: Distributor operation successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributorOperationDTO'
        '400':
          description: Invalid distributor operation data provided
        '404':
          description: Distributor operation not found
        '500':
          description: Internal server error
    delete:
      tags:
        - Distributor Operations
      summary: Delete distributor operation
      description: Deletes a distributor operation
      operationId: deleteDistributorOperation
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: operationId
          in: path
          description: ID of the distributor operation to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Distributor operation successfully deleted
        '404':
          description: Distributor operation not found
        '500':
          description: Internal server error
  /api/v1/distributors/{distributorId}/contracts/{contractId}:
    get:
      tags:
        - Distributor Contract
      summary: Get contract by ID
      description: Retrieve a specific contract associated with a distributor by its unique identifier
      operationId: getById_1
      parameters:
        - name: distributorId
          in: path
          description: Unique identifier of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: contractId
          in: path
          description: Unique identifier of the contract
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Contract found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DistributorContractDTO'
        '404':
          description: Contract or distributor not found
    put:
      tags:
        - Distributor Contract
      summary: Update contract
      description: Update an existing contract associated with a distributor
      operationId: update_1
      parameters:
        - name: distributorId
          in: path
          description: Unique identifier of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: contractId
          in: path
          description: Unique identifier of the contract
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributorContractDTO'
        required: true
      responses:
        '200':
          description: Contract successfully updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DistributorContractDTO'
        '400':
          description: Invalid contract data
        '404':
          description: Contract or distributor not found
    delete:
      tags:
        - Distributor Contract
      summary: Delete contract
      description: Delete a contract associated with a distributor from the system
      operationId: delete_1
      parameters:
        - name: distributorId
          in: path
          description: Unique identifier of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: contractId
          in: path
          description: Unique identifier of the contract
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Contract successfully deleted
        '404':
          description: Contract or distributor not found
  /api/v1/distributors/{distributorId}/configurations/{configurationId}:
    get:
      tags:
        - Distributor Configurations
      summary: Get configuration by ID
      description: Retrieve a specific configuration associated with a distributor by its unique identifier
      operationId: getById_2
      parameters:
        - name: distributorId
          in: path
          description: Unique identifier of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: configurationId
          in: path
          description: Unique identifier of the configuration
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Configuration found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DistributorConfigurationDTO'
        '404':
          description: Configuration or distributor not found
    put:
      tags:
        - Distributor Configurations
      summary: Update configuration
      description: Update an existing configuration associated with a distributor
      operationId: update_2
      parameters:
        - name: distributorId
          in: path
          description: Unique identifier of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: configurationId
          in: path
          description: Unique identifier of the configuration
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributorConfigurationDTO'
        required: true
      responses:
        '200':
          description: Configuration successfully updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DistributorConfigurationDTO'
        '400':
          description: Invalid configuration data
        '404':
          description: Configuration or distributor not found
    delete:
      tags:
        - Distributor Configurations
      summary: Delete configuration
      description: Delete a configuration associated with a distributor from the system
      operationId: delete_2
      parameters:
        - name: distributorId
          in: path
          description: Unique identifier of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: configurationId
          in: path
          description: Unique identifier of the configuration
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Configuration successfully deleted
        '404':
          description: Configuration or distributor not found
  /api/v1/distributors/{distributorId}/brandings/{brandingId}:
    get:
      tags:
        - Distributor Branding
      summary: Get distributor branding by ID
      description: Returns a distributor branding based on its ID
      operationId: getDistributorBrandingById
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: brandingId
          in: path
          description: ID of the distributor branding to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved distributor branding
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributorBrandingDTO'
        '404':
          description: Distributor branding not found
        '500':
          description: Internal server error
    put:
      tags:
        - Distributor Branding
      summary: Update distributor branding
      description: Updates an existing distributor branding with the provided information
      operationId: updateDistributorBranding
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: brandingId
          in: path
          description: ID of the distributor branding to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributorBrandingDTO'
        required: true
      responses:
        '200':
          description: Distributor branding successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributorBrandingDTO'
        '400':
          description: Invalid distributor branding data provided
        '404':
          description: Distributor branding not found
        '500':
          description: Internal server error
    delete:
      tags:
        - Distributor Branding
      summary: Delete distributor branding
      description: Deletes a distributor branding based on its ID
      operationId: deleteDistributorBranding
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: brandingId
          in: path
          description: ID of the distributor branding to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Distributor branding successfully deleted
        '404':
          description: Distributor branding not found
        '500':
          description: Internal server error
  /api/v1/distributors/{distributorId}/authorized-territories/{territoryId}:
    get:
      tags:
        - Distributor Authorized Territories
      summary: Get authorized territory by ID
      description: Retrieve a specific authorized territory for a distributor by its unique identifier
      operationId: getById_3
      parameters:
        - name: distributorId
          in: path
          description: Unique identifier of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: territoryId
          in: path
          description: Unique identifier of the territory
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Territory found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DistributorAuthorizedTerritoryDTO'
        '404':
          description: Territory or distributor not found
    put:
      tags:
        - Distributor Authorized Territories
      summary: Update authorized territory
      description: Update an existing authorized territory for a distributor
      operationId: update_3
      parameters:
        - name: distributorId
          in: path
          description: Unique identifier of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: territoryId
          in: path
          description: Unique identifier of the territory
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributorAuthorizedTerritoryDTO'
        required: true
      responses:
        '200':
          description: Territory successfully updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DistributorAuthorizedTerritoryDTO'
        '400':
          description: Invalid territory data
        '404':
          description: Territory or distributor not found
    delete:
      tags:
        - Distributor Authorized Territories
      summary: Delete authorized territory
      description: Delete an authorized territory for a distributor from the system
      operationId: delete_3
      parameters:
        - name: distributorId
          in: path
          description: Unique identifier of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: territoryId
          in: path
          description: Unique identifier of the territory
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Territory successfully deleted
        '404':
          description: Territory or distributor not found
  /api/v1/distributors/{distributorId}/audit-logs/{auditLogId}:
    get:
      tags:
        - Distributor Audit Log
      summary: Get distributor audit log by ID
      description: Returns a distributor audit log based on its ID
      operationId: getDistributorAuditLogById
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: auditLogId
          in: path
          description: ID of the distributor audit log to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved distributor audit log
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributorAuditLogDTO'
        '404':
          description: Distributor audit log not found
        '500':
          description: Internal server error
    put:
      tags:
        - Distributor Audit Log
      summary: Update distributor audit log
      description: Updates an existing distributor audit log with the provided information
      operationId: updateDistributorAuditLog
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: auditLogId
          in: path
          description: ID of the distributor audit log to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributorAuditLogDTO'
        required: true
      responses:
        '200':
          description: Distributor audit log successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributorAuditLogDTO'
        '400':
          description: Invalid distributor audit log data provided
        '404':
          description: Distributor audit log not found
        '500':
          description: Internal server error
    delete:
      tags:
        - Distributor Audit Log
      summary: Delete distributor audit log
      description: Deletes a distributor audit log based on its ID
      operationId: deleteDistributorAuditLog
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: auditLogId
          in: path
          description: ID of the distributor audit log to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Distributor audit log successfully deleted
        '404':
          description: Distributor audit log not found
        '500':
          description: Internal server error
  /api/v1/distributors/{distributorId}/agents/{agentId}:
    get:
      tags:
        - Distributor Agents
      summary: Get agent by ID
      description: Retrieve a specific agent associated with a distributor by its unique identifier
      operationId: getById_4
      parameters:
        - name: distributorId
          in: path
          description: Unique identifier of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: agentId
          in: path
          description: Unique identifier of the agent
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Agent found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DistributorAgentDTO'
        '404':
          description: Agent or distributor not found
    put:
      tags:
        - Distributor Agents
      summary: Update agent
      description: Update an existing agent associated with a distributor
      operationId: update_4
      parameters:
        - name: distributorId
          in: path
          description: Unique identifier of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: agentId
          in: path
          description: Unique identifier of the agent
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributorAgentDTO'
        required: true
      responses:
        '200':
          description: Agent successfully updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DistributorAgentDTO'
        '400':
          description: Invalid agent data
        '404':
          description: Agent or distributor not found
    delete:
      tags:
        - Distributor Agents
      summary: Delete agent
      description: Delete an agent associated with a distributor from the system
      operationId: delete_4
      parameters:
        - name: distributorId
          in: path
          description: Unique identifier of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: agentId
          in: path
          description: Unique identifier of the agent
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Agent successfully deleted
        '404':
          description: Agent or distributor not found
  /api/v1/distributors/{distributorId}/agent-agencies/{id}:
    get:
      tags:
        - Distributor Agent Agency
      summary: Get agent-agency relationship by ID
      description: Returns a single agent-agency relationship
      operationId: getById_5
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          description: ID of the agent-agency relationship to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved agent-agency relationship
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributorAgentAgencyDTO'
        '404':
          description: Agent-agency relationship not found
        '500':
          description: Internal server error
    put:
      tags:
        - Distributor Agent Agency
      summary: Update an agent-agency relationship
      description: Updates an existing agent-agency relationship with the provided information
      operationId: update_5
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          description: ID of the agent-agency relationship to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributorAgentAgencyDTO'
        required: true
      responses:
        '200':
          description: Agent-agency relationship successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributorAgentAgencyDTO'
        '400':
          description: Invalid agent-agency relationship data provided
        '404':
          description: Agent-agency relationship not found
        '500':
          description: Internal server error
    delete:
      tags:
        - Distributor Agent Agency
      summary: Delete an agent-agency relationship
      description: Deletes an agent-agency relationship by ID
      operationId: delete_5
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          description: ID of the agent-agency relationship to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Agent-agency relationship successfully deleted
        '404':
          description: Agent-agency relationship not found
        '500':
          description: Internal server error
  /api/v1/distributors/{distributorId}/agencies/{agencyId}:
    get:
      tags:
        - Distributor Agencies
      summary: Get agency by ID
      description: Retrieve a specific agency associated with a distributor by its unique identifier
      operationId: getById_6
      parameters:
        - name: distributorId
          in: path
          description: Unique identifier of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: agencyId
          in: path
          description: Unique identifier of the agency
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Agency found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DistributorAgencyDTO'
        '404':
          description: Agency or distributor not found
    put:
      tags:
        - Distributor Agencies
      summary: Update agency
      description: Update an existing agency associated with a distributor
      operationId: update_6
      parameters:
        - name: distributorId
          in: path
          description: Unique identifier of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: agencyId
          in: path
          description: Unique identifier of the agency
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributorAgencyDTO'
        required: true
      responses:
        '200':
          description: Agency successfully updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DistributorAgencyDTO'
        '400':
          description: Invalid agency data
        '404':
          description: Agency or distributor not found
    delete:
      tags:
        - Distributor Agencies
      summary: Delete agency
      description: Delete an agency associated with a distributor from the system
      operationId: delete_6
      parameters:
        - name: distributorId
          in: path
          description: Unique identifier of the distributor
          required: true
          schema:
            type: string
            format: uuid
        - name: agencyId
          in: path
          description: Unique identifier of the agency
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Agency successfully deleted
        '404':
          description: Agency or distributor not found
  /api/v1/distributors/{distributorId}:
    get:
      tags:
        - Distributor
      summary: Get distributor by ID
      description: Returns a distributor based on its ID
      operationId: getDistributorById
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved distributor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributorDTO'
        '404':
          description: Distributor not found
        '500':
          description: Internal server error
    put:
      tags:
        - Distributor
      summary: Update distributor
      description: Updates an existing distributor with the provided information
      operationId: updateDistributor
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributorDTO'
        required: true
      responses:
        '200':
          description: Distributor successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributorDTO'
        '400':
          description: Invalid distributor data provided
        '404':
          description: Distributor not found
        '500':
          description: Internal server error
    delete:
      tags:
        - Distributor
      summary: Delete distributor
      description: Deletes a distributor based on its ID
      operationId: deleteDistributor
      parameters:
        - name: distributorId
          in: path
          description: ID of the distributor to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Distributor successfully deleted
        '404':
          description: Distributor not found
        '500':
          description: Internal server error
  /api/v1/configuration-scopes/{id}:
    get:
      tags:
        - Configuration Scopes
      summary: Get configuration scope by ID
      description: Retrieve a specific configuration scope by its unique identifier
      operationId: getById_7
      parameters:
        - name: id
          in: path
          description: Unique identifier of the configuration scope
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Configuration scope found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConfigurationScopeDTO'
        '404':
          description: Configuration scope not found
    put:
      tags:
        - Configuration Scopes
      summary: Update configuration scope
      description: Update an existing configuration scope
      operationId: update_7
      parameters:
        - name: id
          in: path
          description: Unique identifier of the configuration scope
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationScopeDTO'
        required: true
      responses:
        '200':
          description: Configuration scope successfully updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConfigurationScopeDTO'
        '400':
          description: Invalid configuration scope data
        '404':
          description: Configuration scope not found
    delete:
      tags:
        - Configuration Scopes
      summary: Delete configuration scope
      description: Delete a configuration scope from the system
      operationId: delete_7
      parameters:
        - name: id
          in: path
          description: Unique identifier of the configuration scope
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Configuration scope successfully deleted
        '404':
          description: Configuration scope not found
  /api/v1/configuration-data-types/{id}:
    get:
      tags:
        - Configuration Data Types
      summary: Get configuration data type by ID
      description: Retrieve a specific configuration data type by its unique identifier
      operationId: getById_8
      parameters:
        - name: id
          in: path
          description: Unique identifier of the configuration data type
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Configuration data type found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConfigurationDataTypeDTO'
        '404':
          description: Configuration data type not found
    put:
      tags:
        - Configuration Data Types
      summary: Update configuration data type
      description: Update an existing configuration data type
      operationId: update_8
      parameters:
        - name: id
          in: path
          description: Unique identifier of the configuration data type
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationDataTypeDTO'
        required: true
      responses:
        '200':
          description: Configuration data type successfully updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConfigurationDataTypeDTO'
        '400':
          description: Invalid configuration data type data
        '404':
          description: Configuration data type not found
    delete:
      tags:
        - Configuration Data Types
      summary: Delete configuration data type
      description: Delete a configuration data type from the system
      operationId: delete_8
      parameters:
        - name: id
          in: path
          description: Unique identifier of the configuration data type
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Configuration data type successfully deleted
        '404':
          description: Configuration data type not found
  /api/v1/agent-roles/{id}:
    get:
      tags:
        - Agent Roles
      summary: Get agent role by ID
      description: Retrieve a specific agent role by its unique identifier
      operationId: getById_9
      parameters:
        - name: id
          in: path
          description: Unique identifier of the agent role
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Agent role found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AgentRoleDTO'
        '404':
          description: Agent role not found
    put:
      tags:
        - Agent Roles
      summary: Update agent role
      description: Update an existing agent role
      operationId: update_9
      parameters:
        - name: id
          in: path
          description: Unique identifier of the agent role
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentRoleDTO'
        required: true
      responses:
        '200':
          description: Agent role successfully updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AgentRoleDTO'
        '400':
          description: Invalid agent role data
        '404':
          description: Agent role not found
    delete:
      tags:
        - Agent Roles
      summary: Delete agent role
      description: Delete an agent role from the system
      operationId: delete_9
      parameters:
        - name: id
          in: path
          description: Unique identifier of the agent role
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Agent role successfully deleted
        '404':
          description: Agent role not found
  /api/v1/agencies/{agencyId}/payment-methods/{paymentMethodId}:
    get:
      tags:
        - Agency Payment Methods
      summary: Get payment method by ID
      description: Retrieve a specific payment method for an agency by its unique identifier
      operationId: getById_10
      parameters:
        - name: agencyId
          in: path
          description: Unique identifier of the agency
          required: true
          schema:
            type: string
            format: uuid
        - name: paymentMethodId
          in: path
          description: Unique identifier of the payment method
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Payment method found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AgencyPaymentMethodDTO'
        '404':
          description: Payment method or agency not found
    put:
      tags:
        - Agency Payment Methods
      summary: Update payment method
      description: Update an existing payment method for an agency
      operationId: update_10
      parameters:
        - name: agencyId
          in: path
          description: Unique identifier of the agency
          required: true
          schema:
            type: string
            format: uuid
        - name: paymentMethodId
          in: path
          description: Unique identifier of the payment method
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgencyPaymentMethodDTO'
        required: true
      responses:
        '200':
          description: Payment method successfully updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AgencyPaymentMethodDTO'
        '400':
          description: Invalid payment method data
        '404':
          description: Payment method or agency not found
    delete:
      tags:
        - Agency Payment Methods
      summary: Delete payment method
      description: Delete a payment method for an agency from the system
      operationId: delete_10
      parameters:
        - name: agencyId
          in: path
          description: Unique identifier of the agency
          required: true
          schema:
            type: string
            format: uuid
        - name: paymentMethodId
          in: path
          description: Unique identifier of the payment method
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Payment method successfully deleted
        '404':
          description: Payment method or agency not found
  /api/v1/terms-and-conditions-templates/{templateId}/preview:
    post:
      tags:
        - Terms and Conditions Templates
      summary: Preview template generation
      description: Previews the generated content from a template with provided variables
      operationId: previewGeneration
      parameters:
        - name: templateId
          in: path
          description: ID of the template
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Successfully generated preview
          content:
            text/plain: {}
        '400':
          description: Invalid template or variables provided
        '404':
          description: Template not found
        '500':
          description: Internal server error
  /api/v1/terms-and-conditions-templates/filter:
    post:
      tags:
        - Terms and Conditions Templates
      summary: Filter terms and conditions templates
      description: Returns a paginated list of templates based on filter criteria
      operationId: filterTemplates
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequestTermsAndConditionsTemplateDTO'
        required: true
      responses:
        '200':
          description: Successfully retrieved templates
          content:
            application/json: {}
        '400':
          description: Invalid filter criteria provided
        '500':
          description: Internal server error
  /api/v1/terms-and-conditions-templates:
    post:
      tags:
        - Terms and Conditions Templates
      summary: Create a new template
      description: Creates a new terms and conditions template
      operationId: createTemplate
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TermsAndConditionsTemplateDTO'
        required: true
      responses:
        '201':
          description: Template successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermsAndConditionsTemplateDTO'
        '400':
          description: Invalid template data provided
        '409':
          description: Template name already exists
        '500':
          description: Internal server error
  /api/v1/shipments/filter:
    post:
      tags:
        - Shipment
      summary: Filter shipments
      description: Returns a paginated list of shipments based on filter criteria
      operationId: filterShipments
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequestShipmentDTO'
        required: true
      responses:
        '200':
          description: Successfully retrieved shipments
          content:
            application/json: {}
        '400':
          description: Invalid filter criteria provided
        '500':
          description: Internal server error
  /api/v1/shipments:
    post:
      tags:
        - Shipment
      summary: Create a new shipment
      description: Creates a new shipment with the provided information
      operationId: createShipment
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentDTO'
        required: true
      responses:
        '201':
          description: Shipment successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentDTO'
        '400':
          description: Invalid shipment data provided
        '500':
          description: Internal server error
  /api/v1/product-categories:
    get:
      tags:
        - Product Category
      summary: Get all product categories
      description: Returns all product categories
      operationId: getAllProductCategories
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved product categories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategoryDTO'
        '500':
          description: Internal server error
    post:
      tags:
        - Product Category
      summary: Create a new product category
      description: Creates a new product category with the provided information
      operationId: createProductCategory
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCategoryDTO'
        required: true
      responses:
        '201':
          description: Product category successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategoryDTO'
        '400':
          description: Invalid product category data provided
        '500':
          description: Internal server error
  /api/v1/lending-types:
    get:
      tags:
        - Lending Type
      summary: Get all lending types
      description: Returns all lending types
      operationId: getAllLendingTypes
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved lending types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LendingTypeDTO'
        '500':
          description: Internal server error
    post:
      tags:
        - Lending Type
      summary: Create a new lending type
      description: Creates a new lending type with the provided information
      operationId: createLendingType
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LendingTypeDTO'
        required: true
      responses:
        '201':
          description: Lending type successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LendingTypeDTO'
        '400':
          description: Invalid lending type data provided
[...]
